# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Install and config
*.swp
*.DS_Store
*.in

aclocal.m4
autoscan.log
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
missing
ltmain.sh
libtool
install-sh
Makefile
.dirstamp
config.h
stamp-h1

# Directories
.deps/
build/
m4/*
autom4te.cache/
src/Makefile
src/cnh
headers/Makefile
extdata/Makefile